@use '../../../../styles/colors';

.containerResume {
  width: 469px;

}

.resumeTitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: colors.$black;
}

.resumeBody {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 197.02%;
  color: #343434;
}