.resumeTitleNum {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 29px;
  line-height: 35px;
  color: #92AEEB;
  height: 37px;
  text-align: center;
  gap: 10px
}

.resumeBodyNum {

  width: auto;
  max-width: 256px;
  height: 37px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 197.02%;
  /* or 37px */
  color: #000000;
  text-align: left;

}

.container {
  width: 150px;
  padding: 10px;
}