.slick-container {
	height: 522px;
	margin-bottom: 260px;
}

.slick-active {
	transform: scale(1);
	transition: transform 0.3s ease-in-out;
	padding: 20px;


	&.slick-center {
		transform: scale(1.1);
	}
}