@use "../../../../styles/colors";

.button {
  background-color: colors.$ligth_blue;
  font-size: 20px;
  padding: 1px 2px;
  border: 1px solid colors.$ligth_blue;
  border-radius: 34px;
  width: 269px;
  height: 51px;
  cursor: pointer;
  box-sizing: border-box;
}

.button-small {
  @extend .button;
  height: colors.$button-small;
}

.button-medium {
  @extend .button;
  height: colors.$button-medium;
}

.button-large {
  @extend .button;
  height: colors.$button-large;
}