@use './colors';

//Background templates
.bgPrimary {
  background: colors.$blue;
}

.title4 {
  font-size: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
}