.rowSection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 90px;
}

.containerAboutSection {
	padding: 160px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 185px;
}

@media (max-width: 450px) {
	.containerAboutSection {
		flex-direction: column;
		margin: 4rem;
		padding: 2px;
		text-align: center;
		gap: 66px;
	}

}

@media (min-width: 451px) and (max-width: 767px) {

	.rowSection {
		width: 100%;
		gap: 0px;

	}

	.containerAboutSection {
		flex-direction: column;
		padding: 3px;
		text-align: center;
		// margin-top: 2rem;
		margin: 5px;
		gap: 33px;
		width: 97%;

	}


}

@media (min-width: 768px) and (max-width: 1024px) {

	.rowSection {
		width: 100%;
		// gap: 65px;
	}

	.containerAboutSection {
		flex-direction: column;
		margin-top: 2rem;
		text-align: center;
		gap: 55px;

	}



}

@media (min-width: 1025px) and (max-width: 1280px) {


	.rowSection {
		width: 100%;
		// gap: 65px;
	}

	.containerAboutSection {
		flex-direction: column;
		margin-top: 2rem;
		text-align: center;
		gap: 85px;
		padding: 30px;

	}

}