.body {
  position: absolute;
  width: 480px;
  height: 513px;
  left: 163px;
  top: 224px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 41px;

  color: rgba(0, 0, 0, 0.78);
}

.textTitle {
  width: 476px;
  height: 41px;
  left: 163px;
  top: 153px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 197.02%;
  /* or 41px */

  color: rgba(0, 0, 0, 0.53);
}