@import "../../../../styles/colors.scss";

.button {
  background-color: $blue;
  font-size: 30px;
  padding: 1px 2px;
  border: 5px solid rgb(34, 45, 202);
  border-radius: 46px;
  width: 320px;
  height: 77px;
  cursor: pointer;
}

.button-small {
  @extend .button;
  height: $button-small;
}

.button-medium {
  @extend .button;
  height: $button-medium;
}

.button-large {
  @extend .button;
  height: $button-large;
}