.section-services-container {
  gap: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.cardPadding {
  //parametros de la cards
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  width: 230px;
  height: 240px;

}

.title {
  //parametros del titulo
  text-align: center;
  width: 429px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.62);
}

.paragraph {
  //parametros del parrafo
  padding-left: 24px;
  padding-right: 23px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 197.02%;
  /* or 20px */
  text-align: center;
  color: #000000;
}