.scroll {
	font-family: 'Poppins-Bold';
	display: flex;
	font-weight: 300;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	overflow-y: hidden;
	gap: 15px;
  }
  
  .scroll h1 {
	margin: 10px;
  }
  
  .scroll-box {
	background-color: rgb(157, 173, 236);
	border: 2px solid #3b3b3b;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 200px;
	margin: 10px;
	box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 40px -7px;
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 8s ease, transform 2s ease;
  }
  
  .scroll-box.show {
	opacity: 1;
	transform: translateY(0);
  }
  
  .scroll-box h2 {
	font-size: 22px;
	font-weight: 400;
  }
  
  
  
  